<body>
  <nav
    class="
      navbar navbar-expand-lg navbar-dark
      ftco_navbar
      bg-dark
      ftco-navbar-light
    "
    id="ftco-navbar"
  >
    <div class="container">
      <a class="navbar-brand" routerLink=""
        ><img class="resizelogo" src="assets/images/logo.jpg" /><span
          >Supersquad</span
        ></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#ftco-nav"
        aria-controls="ftco-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
          <li class="nav-item active">
            <a routerLink="about" class="nav-link">About</a>
          </li>
          <!--li class="nav-item"><a href="games.html" class="nav-link">Games</a></li>
          
              <li class="nav-item cta"><a href="#" class="nav-link">LOGIN</a></li-->
        </ul>
      </div>
    </div>
  </nav>
  <section class="ftco-section ftco-no-pb">
    <div class="row justify-content-center" style="height: 150px"></div>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div
            class="panel-group"
            id="accordion"
            role="tablist"
            aria-multiselectable="true"
            aria-expanded="true"
          >
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    ABOUT SUPERSQUAD
                  </a>
                </h4>
              </div>
              <div
                id="collapseOne"
                class="panel-collapse collapse in"
                role="tabpanel"
                aria-labelledby="headingOne"
              >
                <div class="panel-body">
                  <p style="font-size: 20px; text-align: justify; color: black">
                    &emsp; The most exciting e-fantasy gaming for the online
                    gamers. It not only engages you in keen and absorbing
                    tussles with totally unknown competitors, offers you
                    tremendous opportunities to win fabulous prizes. supersquad
                    is an absolutely unique online e-fantasy gaming, a
                    pioneering first-of-its-kind concept anywhere in the world.
                    Playing this game promises endless hours of mind-boggling
                    and heart-throbbing excitement for the whole family or for
                    your gang of friends which leaves you completely fulfilled
                    and enthralled. Welcome to the exciting world of supersquad!
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    ABOUT COMPANY
                  </a>
                </h4>
              </div>
              <div
                id="collapseTwo"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="headingTwo"
              >
                <div class="panel-body">
                  <p style="font-size: 20px; text-align: justify; color: black">
                    &emsp; Supersquad is engineered by a techno-based company
                    with its headquarters at Chennai Metazapp Solutions. The
                    company was floated by a group of young professionals, all
                    of them with an IT background. The whole concept was
                    conceived with one brilliant idea – to combine electronic
                    games with fantasy and present it in a compact form so that
                    could apply themselves and derive tremendous satisfaction
                    and benefit. After a great deal of research and
                    developmental work, the concept was perfected as an on-line
                    game. Field analysis was carried out to identify lacunae and
                    finally the game was launched.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a href="#mymodal" data-toggle="modal" data-target="#myModal">
                    PRIVACY POLICY
                  </a>
                </h4>
              </div>
              <!-- <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et facilisis mi. Nunc vitae pretium est, aliquet sagittis enim. Duis fringilla ipsum at velit gravida, ac luctus lorem euismod. Vivamus placerat dolor mi, vel feugiat dui egestas a. Fusce congue. </p>
                                        </div>
                                    </div> -->
            </div>
          </div>
        </div>
        <!-- <button class="accordion">Section 1</button>
                <div class="panel1">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                
                <button class="accordion">Section 2</button>
                <div class="panel1">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                
                <button class="accordion">Section 3</button>
                <div class="panel1">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div> -->

        <!--  <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </section>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="modal-title" style="font-size: 28px; font-style: bold">
            Privacy Policy
          </h1>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h2>General</h2>
          <p style="text-align: justify">
            Metazapp Solutions Private Limited (“SuperSquad”, “We”, “Our”, “Us”)
            is committed to the protection of personal information provided by
            the users (“You”, “Your”, “User”) to SuperSquad. Users utilizing the
            website & mobile application (“MobileApp”) and its features
            including participation in the various contests, fantasy games
            (“Services”) being conducted shall be bound by this Privacy Policy.
            SuperSquad respects the privacy of its Users and is committed to
            protect it in all respects. Before you submit any information,
            please read this Privacy Policy for an explanation of how we handle
            your personal information. By using any part of the website or
            MobileApp, you consent to the collection, use, disclosure and
            transfer of your personal information for the purposes outlined in
            this Privacy Policy and to the collection, processing and
            maintenance of this information. If you do not agree to this Privacy
            Policy, please do not use. Your use of any part of the website or
            MobileApp indicates your acceptance of this Privacy Policy and of
            the collection, use and disclosure of your personal information in
            accordance with this Privacy Policy.
          </p>
          <h2>Use of Information Collected</h2>
          <p style="text-align: justify">
            In order to access the MobileApp Users would be required to provide
            certain information
          </p>
          <ul>
            <li>a) Username</li>
            <li>b) Password</li>
            <li>c) Email Address</li>
            <li>d) Mobile Number</li>
            <li>e) Date Of Birth</li>
            <li>f) Gender</li>
            <li>
              g) Permanent Account Number (For disbursement of the cash rewards)
            </li>
          </ul>
          <p style="text-align: justify">
            You can review, update or modify your information and user
            preferences by logging into your profile page on the MobileApp.
            Other financial information, such as payment instrument/modes used
            by you to make payments, which may include cardholder name,
            credit/debit card number (in encrypted form) with expiration date,
            banking details, wallet details etc. All information collected will
            be utilized for the purpose of providing Services, user-friendly
            game experience and data usage of the Services and participation in
            the Games for the purpose of data analytics. On limited
            circumstances SuperSquad may also share such information with third
            parties, complying with legal process, preventing fraud and ensuring
            the security of Our network and Services.
          </p>
          <h2>Use of Cookies</h2>
          <p style="text-align: justify">
            To improve the effectiveness and usability of the Portal for our
            Users, We use "cookies", or such similar electronic tools to collect
            information to assign each visitor a unique random number as a User
            Identification (User ID) to understand the User's individual
            interests using the identified computer. Unless the User voluntarily
            identifies yourself (e.g., through registration), We will have no
            way of knowing who the User is, even if we assign a cookie to the
            User's computer. The only personal information a cookie can contain
            is information supplied by the User. A cookie cannot read data off
            the User's hard drive. Our advertisers may also assign their own
            cookies to the User's browser (if the User clicks on their ad
            banners), a process that We does not control. Our web servers
            automatically collect limited information about User's connection to
            the Internet, including IP address, when the User accessed the
            MobileApp. The User's IP address does not identify the User
            personally. We use this information to measure traffic within the
            MobileApp and let advertisers know the geographic locations from
            where SuperSquad's visitors come.
          </p>
          <h2>Security Measure</h2>
          <p style="text-align: justify">
            All information collected is stored in the password protected
            database server secured behind a firewall, strictly limited based on
            need basis. However, we understand that as effective as our security
            measures, no security system is impenetrable. Thus, we cannot
            guarantee the security of our database, nor can we guarantee that
            information you supply will not be intercepted while being
            transmitted to us over the Internet. By using the MobileApp, You
            understand and agree that your information may be used in or
            transferred to countries other than India. SuperSquad also believes
            that the internet is most evolving over time. We may periodically
            review from time to time and change our privacy policy to
            incorporate such future changes as may be considered appropriate,
            without any notice to you. Our use of any information we gather will
            always be consistent with the policy under which the information was
            collected, regardless of what the new policy may be. Any changes to
            our privacy policy will be posted on this page, so you are always
            aware of what information we collect, how we use it, how we store it
            and under what circumstances we disclose it.
          </p>
          <h2>User Awareness</h2>
          <p style="text-align: justify">
            We may use the information provided by you to SuperSquad, including
            your email address or phone number, to contact you about the
            Services availed by you or to inform you of our updated Services if
            any. Be aware of phishing emails, websites, blogs etc. claiming to
            be from or associated with SuperSquad often include our logo,
            photos, links, content or other information. Some emails, websites,
            blogs etc. call the user to provide login name, password etc. or
            that the user has won a prize/ gift or provide a method to commit
            illegal/ unauthorized act or deed or request detailed personal
            information or a payment of some kind. The sources and contents of
            these emails, websites, blogs etc. and accompanying materials are in
            no way associated with SuperSquad. For your own protection, we
            strongly recommend not respond to emails or using websites, blogs
            etc. SuperSquad does not warrant that this website or MobileApp,
            email sent by Us or on Our behalf are virus free. SuperSquad will
            not be liable for any damages including, but not limited to
            compensatory, direct, indirect, incidental, punitive, special and
            consequential damages, loss of data, goodwill, business opportunity,
            income or profit, loss of or damage to property and claims of third
            parties. In no event will SuperSquad be liable for any damages
            whatsoever in an amount in excess of an amount of INR 50.
          </p>
          <h2>Data Retention</h2>
          <p style="text-align: justify">
            Your personal information may be retained and may continue to be
            used until: (i) the relevant purposes for the use of your
            information described in this Privacy Policy are no longer
            applicable; and (ii) we are no longer required by applicable law,
            regulations, contractual obligations or legitimate business purposes
            to retain your personal information and the retention of your
            personal information is not required for the establishment, exercise
            or defense of any legal claim.
          </p>
          <h2>Law and Jurisdiction</h2>
          <p style="text-align: justify">
            By visiting this website or MobileApp, you agree that the laws of
            the Republic of India without regard to its conflict of laws
            principles, govern this Privacy Policy and any dispute arising in
            respect hereof shall be subject to and governed by the dispute
            resolution process set out in the Terms and Conditions.
          </p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
