<nav
  class="
    navbar navbar-expand-lg navbar-dark
    ftco_navbar
    bg-dark
    ftco-navbar-light
  "
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" routerLink=""
      ><img class="resizelogo" src="assets/images/logo.jpg" /><span
        >Supersquad</span
      ></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="about" class="nav-link">About</a>
        </li>
        <!--li class="nav-item"><a href="games.html" class="nav-link">Games</a></li>
      
          <li class="nav-item cta"><a href="#" class="nav-link">LOGIN</a></li-->
      </ul>
    </div>
  </div>
</nav>

<div class="privacy container" style="height: 450px; padding-top: 150px">
  <p style="font-weight: bold; font-size: 25px">Contact Us</p>
  <br />
  <p>No.151 / 20A, Arcot Road,</p>

  <p>Virugambakkam,</p>

  <p>Chennai - 600092,</p>

  <p>Tamil Nadu</p>

  <p>Thanks,</p>
  <p>AnandaKumar.S</p>

  <p>Email Address : support@supersquad.app</p>
</div>

<div class="container">
  <!----------- Footer ------------>
  <footer class="footer-bs">
    <div class="row mb-5" style="background-color: #0c2d4c">
      <div class="col-md-3 footer-brand animated fadeInLeft">
        <h2>SUPERSQUAD</h2>
        <p style="text-align: justify">
          supersquad is an absolutely unique online e-fantasy gaming, a
          pioneering first-of-its-kind concept anywhere in the world.
        </p>
        <p>© 2021 , All rights reserved</p>
      </div>
      <div
        class="col-md-4 footer-nav animated fadeInUp align-items-center"
        style="padding-left: 0px"
      >
        <div class="col-md-6">
          <ul class="list">
            <li><a routerLink="">Home</a></li>
            <!-- <li><a routerLink="about">About </a></li> -->

            <li>
              <!-- <a href="#mymodal" data-toggle="modal" data-target="#myModal"> -->
              <a routerLink="/privacy-policy"> Privacy Policy</a>
            </li>
            <li>
              <!-- <a href="#mymodal" data-toggle="modal" data-target="#myModal"> -->
              <a routerLink="/terms-and-conditions"> Terms and Conditions</a>
            </li>
            <li>
              <!-- <a href="#mymodal" data-toggle="modal" data-target="#myModal"> -->
              <a routerLink="contact-us"> Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 footer-nav animated fadeInDown align-items-center">
        <h4>Follow Us</h4>
        <ul class="list">
          <li>
            <a href="https://www.facebook.com/SuperSquadApp" target="_blank"
              >Facebook</a
            >
          </li>
          <li>
            <a href="https://twitter.com/SuperSquadApp" target="_blank"
              >Twitter</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/supersquad.app/" target="_blank"
              >Instagram</a
            >
          </li>
          <!-- <li>
              <a href="https://www.youtube.com/watch?v=1K1zQbBwRW8">Youtube</a>
            </li> -->
        </ul>
      </div>
    </div>
    <section style="text-align: center; margin: 10px auto">
      Designed by <a href="http://metazapptech.com">Metazapp Solutions</a>
    </section>
  </footer>
</div>
