<nav
  class="
    navbar navbar-expand-lg navbar-dark
    ftco_navbar
    bg-dark
    ftco-navbar-light
  "
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img class="resizelogo" src="assets/images/logo.jpg" />
      <span class="siteTitle">Super squad</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="about" class="nav-link">About</a>
        </li> -->
        <li class="nav-item">
          <a href="../../assets/app/supersquad.apk" class="nav-link"
            >Download</a
          >
        </li>
        <!--li class="nav-item"><a href="games.html" class="nav-link">Games</a></li>
              
                  <li class="nav-item cta"><a href="#" class="nav-link">LOGIN</a></li-->
      </ul>
    </div>
  </div>
</nav>

<!--End of nav-->
<!--Home background-->

<!-- <div
  class="hero-wrap js-fullheight"
  style="
    background-image: url('assets/images/1.jpg');
    height: 670px;
    background-position: 50% 0%;
  "
  data-stellar-background-ratio="0.5"
> -->

<!-- <div
  class="hero-wrap js-fullheight home-background"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true"
      style="height: 669px"
    >
      <div
        class="col-md-6 mt-5 pt-5 ftco-animate mt-5 fadeInUp ftco-animated justify-content-center"
        data-scrollax=" properties: { translateY: '70%' }"
        style="transform: translateZ(0px) translateY(0%)"
      >
        <h1
          class="mb-4"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
          style="opacity: 1; transform: translateZ(0px) translateY(0%)"
        >
          The Supersquad
        </h1>
        <p
          class="mb-4"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
          style="opacity: 1; transform: translateZ(0px) translateY(0%)"
        >
          Welcome to the exciting world of supersquad!
        </p>
        <a href="#" class="btn btn-primary py-3 px-4 justify-content-center"
          >Download</a
        >
      </div>
    </div>
  </div>
</div> -->
<!-- <img src="../../assets/images/1.jpg" alt="hero" class="heroImg"/>
<div  >
  <div class="overlayBg">
    <div id="bannerText" class="bannerText">
      <div>THE SUPERSQUAD</div>
      <div>Welcome to the exciting world of supersquad!</div>
      <br />
      <a href="#" class="btn btn-primary mobileButton">Download</a>
    </div>
  </div>
</div> -->

<!-- <div class="hero-wrap js-fullheight" style="background-image: url('assets/images/1.jpg'); height: 670px; background-position: 50% 0%;" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
         
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true" style="height: 669px;">
      <div class="col-md-6 mt-5 pt-5 ftco-animate mt-5 fadeInUp ftco-animated justify-content-center" data-scrollax=" properties: { translateY: '70%' }" style="transform: translateZ(0px) translateY(0%);">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 1;  transform: translateZ(0px) translateY(0%);">The Supersquad</h1>
        <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 1; transform: translateZ(0px) translateY(0%);">Welcome to the exciting world of supersquad!</p>
         <a href="#"  class="btn btn-primary py-3 px-4 justify-content-center">Download</a>
      </div>
    </div>
  </div>
</div> -->

<img
  src="../../assets/images/banner.png"
  style="width: 100%; height: auto"
  alt="super squad worlds first e sports fantasy game app"
  title="Super squad worlds first e sports fantasy game app"
/>
<div class="buttonContainer">
  <div>
    <a href="../../assets/app/supersquad.apk" class="btn buttonDownload">
      <img src="https://img.icons8.com/wired/64/ffffff/android.png" />
      Download</a
    >
  </div>
</div>

<section class="ftco-section ftco-no-pb" style="padding-top: 0px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div
          class="
            heading-section
            text-center
            ftco-animate
            fadeInUp
            ftco-animated
          "
        >
          <!-- <span class="subheading">Learn Game</span>
          <h2 class="mb-4">How To Play</h2> -->
        </div>
        <div class="scoreboard slash">
          <div class="video-responsive">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/RfLExgs3CF8"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb" style="padding-top: 60px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div
          class="
            heading-section
            text-center
            ftco-animate
            fadeInUp
            ftco-animated
          "
        >
          <!-- <span class="subheading">Learn Game</span>
          <h2 class="mb-4">How To Play</h2> -->
        </div>
        <div class="scoreboard slash">
          <div class="video-responsive">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/gvMknNmq28s"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  <section class="ftco-section ftco-no-pb">
                  <div class="container">
                      <div class="row justify-content-center">
                          </div>
                          </div>
                          </section> -->
<!-- footer -->
<section style="height: 80px"></section>

<div class="container">
  <!----------- Footer ------------>
  <footer class="footer-bs">
    <div class="row mb-5" style="background-color: #0c2d4c">
      <div class="col-md-3 footer-brand animated fadeInLeft">
        <h2>SUPERSQUAD</h2>
        <p style="text-align: justify">
          supersquad is an absolutely unique online e-fantasy gaming, a
          pioneering first-of-its-kind concept anywhere in the world.
        </p>
        <p>© 2021 , All rights reserved</p>
      </div>
      <div
        class="col-md-4 footer-nav animated fadeInUp align-items-center"
        style="padding-left: 0px"
      >
        <div class="col-md-6">
          <ul class="list">
            <li><a routerLink="">Home</a></li>
            <!-- <li><a routerLink="about">About </a></li> -->

            <li>
              <!-- <a href="#mymodal" data-toggle="modal" data-target="#myModal"> -->
              <!-- <a href="http://192.168.43.41:8080/privacy-policy">
                Privacy Policy</a
              > -->

              <a routerLink="privacy-policy">Privacy Policy</a>
            </li>
            <li>
              <!-- <a href="#mymodal" data-toggle="modal" data-target="#myModal"> -->
              <a routerLink="terms-and-conditions"> Terms and Conditions</a>
            </li>
            <li>
              <a routerLink="contact-us"> Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 footer-nav animated fadeInDown align-items-center">
        <h4>Follow Us</h4>
        <ul class="list">
          <li>
            <a href="https://www.facebook.com/SuperSquadApp" target="_blank"
              >Facebook</a
            >
          </li>
          <li>
            <a href="https://twitter.com/SuperSquadApp" target="_blank"
              >Twitter</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/supersquad.app/" target="_blank"
              >Instagram</a
            >
          </li>
          <!-- <li>
            <a href="https://www.youtube.com/watch?v=1K1zQbBwRW8">Youtube</a>
          </li> -->
        </ul>
      </div>
    </div>
    <section style="text-align: center; margin: 10px auto">
      Designed by <a href="http://metazapptech.com">Metazapp Solutions</a>
    </section>
  </footer>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title" style="font-size: 28px; font-style: bold">
          Privacy Policy
        </h1>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h2>General</h2>
        <p style="text-align: justify">
          Metazapp Solutions Private Limited (“SuperSquad”, “We”, “Our”, “Us”)
          is committed to the protection of personal information provided by the
          users (“You”, “Your”, “User”) to SuperSquad. Users utilizing the
          website & mobile application (“MobileApp”) and its features including
          participation in the various contests, fantasy games (“Services”)
          being conducted shall be bound by this Privacy Policy. SuperSquad
          respects the privacy of its Users and is committed to protect it in
          all respects. Before you submit any information, please read this
          Privacy Policy for an explanation of how we handle your personal
          information. By using any part of the website or MobileApp, you
          consent to the collection, use, disclosure and transfer of your
          personal information for the purposes outlined in this Privacy Policy
          and to the collection, processing and maintenance of this information.
          If you do not agree to this Privacy Policy, please do not use. Your
          use of any part of the website or MobileApp indicates your acceptance
          of this Privacy Policy and of the collection, use and disclosure of
          your personal information in accordance with this Privacy Policy.
        </p>
        <h2>Use of Information Collected</h2>
        <p style="text-align: justify">
          In order to access the MobileApp Users would be required to provide
          certain information
        </p>
        <ul>
          <li>a) Username</li>
          <li>b) Password</li>
          <li>c) Email Address</li>
          <li>d) Mobile Number</li>
          <li>e) Date Of Birth</li>
          <li>f) Gender</li>
          <li>
            g) Permanent Account Number (For disbursement of the cash rewards)
          </li>
        </ul>
        <p style="text-align: justify">
          You can review, update or modify your information and user preferences
          by logging into your profile page on the MobileApp. Other financial
          information, such as payment instrument/modes used by you to make
          payments, which may include cardholder name, credit/debit card number
          (in encrypted form) with expiration date, banking details, wallet
          details etc. All information collected will be utilized for the
          purpose of providing Services, user-friendly game experience and data
          usage of the Services and participation in the Games for the purpose
          of data analytics. On limited circumstances SuperSquad may also share
          such information with third parties, complying with legal process,
          preventing fraud and ensuring the security of Our network and
          Services.
        </p>
        <h2>Use of Cookies</h2>
        <p style="text-align: justify">
          To improve the effectiveness and usability of the Portal for our
          Users, We use "cookies", or such similar electronic tools to collect
          information to assign each visitor a unique random number as a User
          Identification (User ID) to understand the User's individual interests
          using the identified computer. Unless the User voluntarily identifies
          yourself (e.g., through registration), We will have no way of knowing
          who the User is, even if we assign a cookie to the User's computer.
          The only personal information a cookie can contain is information
          supplied by the User. A cookie cannot read data off the User's hard
          drive. Our advertisers may also assign their own cookies to the User's
          browser (if the User clicks on their ad banners), a process that We
          does not control. Our web servers automatically collect limited
          information about User's connection to the Internet, including IP
          address, when the User accessed the MobileApp. The User's IP address
          does not identify the User personally. We use this information to
          measure traffic within the MobileApp and let advertisers know the
          geographic locations from where SuperSquad's visitors come.
        </p>
        <h2>Security Measure</h2>
        <p style="text-align: justify">
          All information collected is stored in the password protected database
          server secured behind a firewall, strictly limited based on need
          basis. However, we understand that as effective as our security
          measures, no security system is impenetrable. Thus, we cannot
          guarantee the security of our database, nor can we guarantee that
          information you supply will not be intercepted while being transmitted
          to us over the Internet. By using the MobileApp, You understand and
          agree that your information may be used in or transferred to countries
          other than India. SuperSquad also believes that the internet is most
          evolving over time. We may periodically review from time to time and
          change our privacy policy to incorporate such future changes as may be
          considered appropriate, without any notice to you. Our use of any
          information we gather will always be consistent with the policy under
          which the information was collected, regardless of what the new policy
          may be. Any changes to our privacy policy will be posted on this page,
          so you are always aware of what information we collect, how we use it,
          how we store it and under what circumstances we disclose it.
        </p>
        <h2>User Awareness</h2>
        <p style="text-align: justify">
          We may use the information provided by you to SuperSquad, including
          your email address or phone number, to contact you about the Services
          availed by you or to inform you of our updated Services if any. Be
          aware of phishing emails, websites, blogs etc. claiming to be from or
          associated with SuperSquad often include our logo, photos, links,
          content or other information. Some emails, websites, blogs etc. call
          the user to provide login name, password etc. or that the user has won
          a prize/ gift or provide a method to commit illegal/ unauthorized act
          or deed or request detailed personal information or a payment of some
          kind. The sources and contents of these emails, websites, blogs etc.
          and accompanying materials are in no way associated with SuperSquad.
          For your own protection, we strongly recommend not respond to emails
          or using websites, blogs etc. SuperSquad does not warrant that this
          website or MobileApp, email sent by Us or on Our behalf are virus
          free. SuperSquad will not be liable for any damages including, but not
          limited to compensatory, direct, indirect, incidental, punitive,
          special and consequential damages, loss of data, goodwill, business
          opportunity, income or profit, loss of or damage to property and
          claims of third parties. In no event will SuperSquad be liable for any
          damages whatsoever in an amount in excess of an amount of INR 50.
        </p>
        <h2>Data Retention</h2>
        <p style="text-align: justify">
          Your personal information may be retained and may continue to be used
          until: (i) the relevant purposes for the use of your information
          described in this Privacy Policy are no longer applicable; and (ii) we
          are no longer required by applicable law, regulations, contractual
          obligations or legitimate business purposes to retain your personal
          information and the retention of your personal information is not
          required for the establishment, exercise or defense of any legal
          claim.
        </p>
        <h2>Law and Jurisdiction</h2>
        <p style="text-align: justify">
          By visiting this website or MobileApp, you agree that the laws of the
          Republic of India without regard to its conflict of laws principles,
          govern this Privacy Policy and any dispute arising in respect hereof
          shall be subject to and governed by the dispute resolution process set
          out in the Terms and Conditions.
        </p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- /.footer -->
